{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shop/CSS/index.css' %}">
    <link rel="stylesheet" media="only screen and (max-width:690px)" href="{% static 'shop/CSS/tab_index.css' %}">
    <link rel="stylesheet" href="{% static 'shop/CSS/components.css' %}">
    <title>{% block title%}{% endblock %}</title>
    {% block link %}{% endblock %}
    {% block style %}{% endblock %}
    <style>
        *,
        *:focus,
        *:hover {
            outline: none;
        }
    </style>
</head>

<body>
    <nav id="navbar">
        <a href="/shop" class="links">
            <div class="logo-section">
                <img src="{%static 'shop/IMG/Jkart.png'%}" alt="shop.png" id="logo">
                <h1>JKart</h1>
            </div>
        </a>
        <ul>
            <li><a class="nav-btn" href="/shop">Dashboard</a></li>
            <li><a class="nav-btn" href="/shop/track">Track</a></li>
            <li><a class="nav-btn" href="/blog">Blog</a></li>
            <li><a class="nav-btn" href="/shop/contact">Contact Us</a></li>
        </ul>
        <div class="rightsection">

            <section>
                <form action="" id="search-bar" method="post">
                    {% csrf_token %}
                    <input type="search" class="outline-animation" placeholder="Search..." name="search">
                    <input type="submit" value="Search" class="btn .cart">
                </form>
            </section>
            <a class="nav-icon">
                <div class="tooltip">
                    <div class="cart-btn">
                        <img src="{%static 'shop/IMG/cart.png'%}" alt="shop.png" id="logo">
                        <div class="count"></div>
                    </div>
                    <div id="popover" class="popover">
                        <div class="prod">
                            <span>Cart is Empty Please add Items</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div id="nav-menu">
            <div class="cart-btn">
                <img src="{%static 'shop/IMG/cart.png'%}" alt="shop.png" id="logo">
                <div class="count"></div>
            </div>
            <div class="menu">
                <hr>
                <hr>
                <hr>
            </div>
            <div class="menubar" id="menu-btn">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Impression</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'shop/JS/navbar.js'%}"></script>
<script src="{% static 'shop/JS/cart.js'%}"></script>
<script>
    updateCart();
</script>

{% block script %}{% endblock %}

</html>