{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shop/CSS/index.css' %}">
    <link rel="stylesheet" media="only screen and (max-width:690px)" href="{% static 'shop/CSS/tab_index.css' %}">
    <title>{% block title%}{% endblock %}</title>

    {% block link %}{% endblock %}
    {% block style %}{% endblock %}
</head>

<body>
    <nav id="navbar">
        <div class="logo-section">
            <img src="{%static 'shop/IMG/Jkart.png'%}" alt="shop.png" id="logo">
            <h1>JKart</h1>
        </div>
        <ul>
            <li><a href="">Dashboard</a></li>
            <li><a href="#">Offers</a></li>
            <li><a href="#">Track</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
        <div id="nav-menu">
            <div class="cart-btn">
                <img src="{%static 'shop/IMG/cart.png'%}" alt="shop.png" id="logo">
                <div class="count">5{{count}}</div>
            </div>
            <div class="menu">
                <hr>
                <hr>
                <hr>
            </div>
            <div class="menubar" id="menu-btn">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Impression</a></li>
                    <li><a href="#">Search</a></li>
                    <li><a href="#">Pricing</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}

    {% block script %}{% endblock %}
</body>

</html>