{% extends 'shop/basic.html' %}

{% load static %}

{% block title %}Contact Us{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'shop/CSS/carousal.css' %}">
<link rel="stylesheet" href="{% static 'shop/CSS/Form_page.css' %}">
{% endblock %}

{% block style %}
{% endblock %}


{% block body %}
<form action="/shop/contact/" method="post" class="contact-form">
    {% csrf_token %}
    <label for="name" class="input-levels">Enter Name</label>
    <input type="text" id="name" name="name" placeholder="Your Name" class="input-fields">

    <label for="email" class="input-levels">Enter Email Address</label>
    <input type="email" id="email" name="email" placeholder="Your Email Address" class="input-fields">

    <label for="phone" class="input-levels">Enter Phone No.</label>
    <input type="tel" id="phone" name="phone" placeholder="Your Phone Number" class="input-fields">

    <label for="desc" class="input-levels">Enter Description</label>
    <textarea id="desc" name="desc" placeholder="Write Your Message Here...." cols="30" rows="10" class="input-fields"></textarea>

    <div>
        <input type="submit" value="Submit" class="btn">
        <input type="reset" value="Reset" class="btn">
    </div>
</form>

{% endblock %}