{% extends 'shop/basic.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'shop/CSS/carousal.css' %}">
{% endblock %}


{% block body %}
<section>
    <form action="" id="search-bar" method="post">
        {% csrf_token %}
        <input type="search" class="outline-animation" placeholder="Search..." name="search">
        <input type="submit" value="Search" class="btn .cart">
    </form>
</section>
<div class="carousal">


    <ul class="slide">
        <li><a onclick="prevSlide()" class="shift-slide">❮</a></li>
        {% for j in products|slice:"0:" %}
        <li class="items">
            <img src="/media/{{j.image}}" alt="product 1">
            <div class="caption">
                <h3>{{j.product_name|truncatechars_html:'60'}} </h3>
                <p>{{j.product_description|truncatechars_html:'40' }}</p>
            </div>
            <div class="button-section">
                <span class="divpr" id="divpr{{j.id}}">
                    <button class="btn cart" id="pr{{j.id}}">Add to Cart</button>
                </span>
                <a href="/shop/products/{{j.id}}">
                    <button class="btn" id="qv{{j.id}}">Quick View</button>
                </a>
            </div>
        </li>
        {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
        <li><a onclick="nextSlide()" class="shift-slide">❯</a></li>
    </ul>
    <ul class="slide">
        <li><a onclick="prevSlide()" class="shift-slide">❮</a></li>

        {% endif %}
        {% endfor %}
        <li><a onclick="nextSlide()" class="shift-slide">❯</a></li>
    </ul>
</div>
{% endblock %}

{% block script %}
<script>
    qtyButton();
</script>
{% endblock %}