{% extends 'shop/basic.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'shop/CSS/carousal.css' %}">
{% endblock %}


{% block body %}
<section>
    <form action="" id="search-bar" method="post">
        {% csrf_token %}
        <input type="search" class="outline-animation" placeholder="Search..." name="search">
        <input type="submit" value="Search" class="btn .cart">
    </form>
</section>
<div class="carousal">

    {% for i in range %}
    <ul class="slide">

    </ul>
    {% endfor %}
</div>
{% for j in products|slice:"0:" %}
<li class="items" id="pr{{j.product_id}}">
    <img src="/media/{{j.image}}" alt="product 1">
    <div class="caption">
        <h3>{{j.product_name}}</h3>
        <p>{{j.product_description|truncatechars_html:'40' }}</p>
    </div>
    <button class="btn">Add to Cart</button>
</li>
{% endfor %}
{% endblock %}

{% block script %}
<script>
    // add to cart logic
    
    if(localStorage.getItem('cart') == null){
        var cart = {};
        console.log("cart");
    }
    else{
        cart = JSON.parse(localStorage.setItem('cart'));
        console.log(cart);
    }

    // JQuery
    $(".cart").click(()=>{
        console.log("clicked");
    });

    console.log("cart");
    let active = 0;
    let slides = document.querySelectorAll('.carousal ul');
    let items = document.getElementsByClassName('items');

    let nslides = items.length / 4;
    let l = items.length;


    if (items.length % 4 > 0) nslides += 1;
    
    let g;
    for (let i = 0; i < nslides; i++) {
        g = document.querySelector(`.carousal ul:nth-child(${i + 1})`);    
        g.innerHTML = '<li><a onclick="prevSlide()" class="shift-slide">❮</a></li>';

        for (let j = 0; j < 4; j++) {
            g.append(items[i*4 + j]);   
            if((i*4+j+1) == l) break; 
        }
        g.innerHTML += ' <li><a onclick="nextSlide()" class="shift-slide">❯</a></li>';    
    }




    function nextSlide() {
        if (active < slides.length - 1) {
            slides[active].style.display = "none";
            active++;
            slides[active].style.display = "flex";
        }
        else {
            slides[active].style.display = "none";
            slides[0].style.display = "flex";
            active = 0;
        }
    }
    function prevSlide() {
        if (active > 0) {
            slides[active].style.display = "none";
            active--;
            slides[active].style.display = "flex";
        }
        else {
            slides[active].style.display = "none";
            slides[slides.length - 1].style.display = "flex";
            active = slides.length - 1;
        }
    }


</script>
{% endblock %}