{% extends 'shop/basic.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'shop/CSS/carousal.css' %}">
{% endblock %}


{% block body %}
<section>
    <form action="" id="search-bar" method="post">
        {% csrf_token %}
        <input type="search" class="outline-animation" placeholder="Search..." name="search">
        <input type="submit" value="Search" class="btn">
    </form>
</section>
<div class="carousal">
    <div class="slide">
        <div class="items">
            <img src="/media/shop/images/redmi11.png" alt="product 1">
            <div class="caption">
                <h3>Redmi Note 12 (6GB RAM, 128GB, Ice Blue)</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <button class="btn">Add to Cart</button>
        </div>
        <div class="items">
            <img src="/media/shop/images/opporeno10.png" alt="product 1">
            <div class="caption">
                <h3>oppo Reno 10 5G (8GB RAM, 256GB, Silvery Grey)</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <button class="btn">Add to Cart</button>
        </div>
        <div class="items">
            <img src="/media/shop/images/onePlus.png" alt="product 1">
            <div class="caption">
                <h3>OnePlus Nord CE 3 Lite 5G (8GB RAM, 256GB, Pastel Lime)</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <button class="btn">Add to Cart</button>
        </div>
        <div class="items">
            <img src="/media/shop/images/iphone.png" alt="product 1">
            <div class="caption">
                <h3>Apple iPhone 15 (128GB, Blue)</h3>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <button class="btn">Add to Cart</button>
        </div>
    </div>
</div>
{% endblock %}