{% extends 'shop/basic.html' %}

{% load static %}

{% block title %} {{product.product_name}}{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'shop/CSS/product_page.css' %}">
{% endblock %}

{% block style %}
<style>

</style>

{% endblock %}

{% block body %}

<div class="container">
    <div class="prod-image">
        <img src="/media/{{product.image}}" alt="{{product.product_name}}">
    </div>
    <div class="prod-detail">
        <h1>{{product.product_name}}</h1>
        <hr>
        <h2 class="price">Price : 
            <p>Rs. {{product.price}}/-</p>
        </h2>
        <div class="options">
            <button class="btn">Buy Now</button>
            <span class="divpr" id="divpr{{product.id}}">
                <button class="btn cart" id="pr{{product.id}}">Add to Cart</button>
            </span>
            <button class="btn">Share</button>
        </div>
        <h2>Description</h2>
        <hr>
        <h2 class="description">{{product.product_description}}</h2>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    adjustButton('pr{{product.id}}');
</script>
{% endblock %}