{% extends 'shop/basic.html' %}

{% load static %}

{% block title %} {{product.product_name}}{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% static 'shop/CSS/carousal.css' %}">
{% endblock %}

{% block style %}
<style>
    .container {
        display: flex;
        justify-content: center;
    }

    .prod-detail{
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
    .prod-image img{
        width: 70%;
    }
    .options{
        margin-top: 25px;
    }
</style>

{% endblock %}

{% block body %}

<div class="container">
    <div class="prod-image">
        <img src="/media/{{product.image}}" alt="{{product.product_name}}">
    </div>
    <div class="prod-detail">
        <h1>{{product.product_name}}</h1>
        <h2>{{product.product_description}}</h2>
        <h2>Rs. {{product.price}}/-</h2>
        <div class="options">
            <button class="btn">Buy Now</button>
            <button class="btn">Add to Cart</button>
            <button class="btn">Share</button>
        </div>
    </div>
</div>

{% endblock %}