{% extends 'shop/basic.html' %}
{% load static %}

{% block title %}Checkout Page | Jkart{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'shop/CSS/checkout.css' %}">
{% endblock %}

{% block body %}
<div class="container" id="track-order">
    <div class="place-order">
        <h1 class="steps">Track Your Order Here</h1>
        <form action="/shop/track/" method="post" class="order-form">
            {% csrf_token %}
            <input type="hidden" name="order_json" id="order_json">
            <div class="row">
                <div class="label-input">
                    <label for="order_id">Order Id</label>
                    <input type="text" name="order_id" id="order_id" placeholder="Your Good Name" required>
                </div>
                <div class="label-input">
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" placeholder="Email Address" required>
                </div>
            </div>
            <div class="submit-button">
                <input type="submit" value="Track Order" class="yellow-btn">
            </div>
        </form>
    </div>

    <div id="review" class="review">
        <h1 class="steps">Step 1: Review Your Selection</h1>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $("#track-order").submit(function (event) {
        let data = {
            "order_id": $("input[name=order_id]").val(),
            "email": $("input[name=email]").val(),
            "csrfmiddlewaretoken": $("input[name=csrfmiddlewaretoken]").val()
        }

        $.ajax(
            {
                type: 'POST',
                url: '/shop/track/',
                data: data,
                encode: true
            }).done(
                function (data) {
                    if (data == "{}") {
                        console.log("empty");
                    }
                    else {
                        let update_list = JSON.parse(data);
                        console.log(update_list);
                        for (const i of update_list) {
                            let x = update_list[i];

                        }

                    }
                }
            );
        event.preventDefault();

    }
    );
</script>
{% endblock %}