.carousal-heading {
    font-size: 1.5rem;
    margin: 15px 5vw;
    display: block;
    padding: 3px 22px;
    margin-top: 40px;
}
.slider{
    background-color: whitesmoke;
    border: 2px solid whitesmoke;
    box-shadow: 1px -1px 4px black;
    border-bottom: none;
    padding: 15px 5px;
    border-radius: 0px 15px 15px 15px;
    margin: 0px 15px;
    margin-bottom: 15px;
}

.carousal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 96%;
    position: relative;
    margin: 0px auto;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: none;
    width: 100%;
}

.carousal ul li {
    list-style: none;
}

.change-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #519cae17; */
    border-radius: 28px;
    width: 5%;
    aspect-ratio: 1/1;
    margin: 0px 8px;
}
.shift-slide {
    cursor: pointer;
    padding: 8px;
    font-size: 2rem;
}

.shift-slide:hover {
    color: var(--color);
    background-color: var(--bgcolor);
    border-radius: 5px;
}

.carousal ul:first-child {
    display: flex;
}

.items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    width: 20%;
    aspect-ratio: 5/6;
    margin: 0px 5px;
    position: relative;
    border: 1px solid rgb(141, 141, 141);
}

/*  image area of card */
.image {
    border-radius: 15px 15px 0px 0px;
    position: relative;
    background-color: #519cae17;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58%;
    width: 100%;
    
}
.image img {
    display: block;
    margin: 5px auto;
    object-fit: cover;
    height: 90%;
}

/*  caption area of card */
.caption{
    border-radius: 0px 0px 15px 15px;
    position: relative;
    background-color: #ae8c5117;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 42%;
    width: 100%;
}
.detail {
    margin: 0px 10px;
}

.title {
    font-size: .9rem;
    text-align: center;
}

.desc {
    font-size: .8rem;
    text-align: justify;

}

.button-section {
    display: flex;
    align-items: center;
    justify-content: center;
}