        /* CSS Reset */
        * {
            margin: 0px;
            padding: 0px;
            font-family: 'Nunito', 'Ubuntu', 'sans-serif';
        }

        /* Root Variables */
        :root {
            --color: white;
            --bgcolor: rgb(43, 43, 43);
            --searchbtn: #00a52c;
        }

        /* Navigation Menu styling */
        #navbar {
            color: white;
            position: sticky;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100vw;
            top: 0;
            z-index: 3;
        }
        
        .links{
            text-decoration: none;
            color: var(--color);
            cursor: pointer;
        }
        #navbar::before {
            content: "";
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            top: 0px;
            background-color: rgb(43, 43, 43);
        }

        #navbar ul {
            display: flex;
            align-items: center;
            list-style: none;
        }

        .nav-btn {
            text-decoration: none;
            padding: 6px 20px;
            color: white;
        }

        .nav-icon {
            text-decoration: none;
            padding: 6px 5px;
        }

        .nav-btn:hover {
            color: rgb(43, 43, 43);
            background-color: white;
            font-weight: bold;
            border-radius: 28px;
        }

        /* Navigation Menu : logo section */
        .logo-section {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 0px 20px;
        }

        .logo-section img {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 28px;
            margin: 10px 4px;
        }

        .logo-section h1 {
            font-size: 1.6rem;
            padding: 0px 12px;
        }

        /* Navigation Menu button */
        #nav-menu {
            display: none;
            margin: auto 10px;
        }


        /* right section for search bar and cart button */
        .rightsection {
            display: flex;
            align-items: center;
            justify-content: right;
            position: relative;
        }


        /* Utilities for Nevigation menu (effects, buttons etc */
        .menu {
            display: flex;
            width: 33px;
            height: 18px;
            border: 1.4px solid var(--color);
            border-radius: 8px;
            background-color: var(--bgcolor);
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 5px 0px;
        }

        .menu hr {
            width: 1.2rem;
            padding: 0.3px;
            border-radius: 54px;
            background-color: var(--color);
            border: 1px solid var(--color);
        }

        /* cart button / icon styling */
        .cart-btn {
            margin: auto 13px;
            display: flex;

        }

        .cart-btn img {
            display: block;
            width: 25px;
            height: 25px;
            filter: invert();
            margin: 4px 0px;
        }

        .cart-btn .count {
            font-size: .8rem;
            padding: 0px 4px;
            background-color: var(--color);
            color: var(--bgcolor);
            font-weight: bold;
            border-radius: 28px;
            align-self: flex-start;
        }

        /* popover class content styling */
        .prod{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2px;

        }
        .prod div{
            margin: 0px 5px;
        }


        /* search box */
        #search-bar {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #search-bar input[type=search] {
            padding: 5px 5px;
            border-radius: 28px;
            border: 1.5px solid var(--color);
            background: url(/static/shop/IMG/search_icon.png);
            background-size: 18px;
            background-repeat: no-repeat;
            background-position: 12px 8px;
            padding-left: 36px;
            color: var(--color);
            font-size: 1rem;
        }
        
        #search-bar input[type=submit], .btn2 {
            font-weight: bold;
            margin: 0px 5px;
            font-size: 1rem;
            padding: 5px 18px;
            border-radius: 28px;
            border: 1.5px solid var(--searchbtn);
            background-color: var(--searchbtn);
            color: var(--color);
        }
        #search-bar input[type=submit]:hover, .btn2:hover {
            background-color: var(--color);
            color: var(--bgcolor);
            border: 1.5px solid var(--color);
        }