    .product-form {
        display: flex;
        margin: 10px auto;
        flex-direction: column;
        width: 75vw;
        justify-content: center;
        align-items: stretch;
    }

    .input-fields {
        padding: 6px 25px;
        border: 2px solid rgb(129 129 129);
        font-size: 1rem;
        border-radius: 6px;
    }

    .input-levels {
        margin: 5px 0px;
        margin-top: 10px;
    }